In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [4]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [5]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [6]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [7]:
names = ['Andy','Eve','Sally']

In [8]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [15]:
def check_even(num):
    return num%2 == 0

In [16]:
mynums = [1,2,3,4,5,6]

In [18]:
list(filter(check_even,mynums))

[2, 4, 6]

In [22]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [27]:
square = lambda num: num ** 2

In [28]:
square(5)

25

In [29]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [30]:
list(filter(lambda num:num%2 == 0,mynums))

[2, 4, 6]

In [31]:
names

['Andy', 'Eve', 'Sally']

In [32]:
list(map(lambda name:name[0],names))

['A', 'E', 'S']